html {
    --gray: #444;
    --gray-dark: #333;
    --gray-light: #f2f2f2;
}

body {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    background-color:#f5ecd8;
}

h1 {
    font-size: 12pt;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-left: 40px;    
}

h2 {
    font-size: 11pt;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.Info {
    font-size: 8pt;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 150px;
    line-height: 18pt;

}

.wrapper {
    width:650px;
    max-width:100%;
       
}

p {
    margin-bottom:40px;
    margin-left:40px;
    margin-right:40px;
    margin-top:40px;
}

.Menu {
    font-size: 10pt;
    font-weight: 700;
    text-align: right;
    margin-right: 40px;
    float: right;
    display: inline;
    line-height: 20pt;
    
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

@media screen and (max-width: 800px) {
    .process {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr;
    }
    .wrapper {
        width:400px;
        max-width:100%;       
    }
    .Menu {
        margin-bottom:40px;
    }
  }
  
  @media screen and (min-width: 800px) {
    .process {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr;
    }
  }

