body {
    background-color:var(--tan-light);
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }

html {
    --brown: #5C453C;
    --orange: #F37300;
    --tan: #EDC7A4;
    --tan-light: #FDF3E9;
    --white: #FFF;    
}

.buttons {
    color:var(--brown);
    font-size: 30px;
    margin-right: 30px;
    margin-top: 60px;
    text-align: right;
    text-transform: uppercase;
    word-spacing: 30px;
}

.hero {
  background-image: url("../https://unsplash.com/photos/XtUd5SiX464"); 
  }

.hero-paragraph {
    color:#5C453C;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 90px;
    margin-left:-30px;
    margin-top: 30px;
    width: 520px;
    
}
.hero-title {
    color: #5C453C;
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: -30px;

}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

table {
    background: #5C453C;
    color:var(--white);
    width: 100%;
  }
  
  @media screen and (min-width: 800px) {
    section {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr;
    }
  
    .table-2 {
      margin-top: 3rem;
    }

    
  }
  
h3 {
  color:#FFF;
  font-size: 72px;

}

h4 {
  color:#FFF;
  font-size: 30px;
  width: 400px;
}

h5 {
  color:#5C453C;
  font-size: 40px;
  margin-left: 30px;
  margin-bottom: 30px; 
}

footer {
  background: url(https://www.pexels.com/photo/brown-cocoa-34085/);
}
  

@media screen and (min-width: 800px ) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}